{% extends 'base.html' %}
{% load static %}


{% block header %}
        <div class="header text-white" style="background-color: #2EC4B6; padding: 10px 5px; height: 7rem;">
      <i class='bx bx-menu'></i>
      <div class="header-right">
            <img src="{% static 'img/logo-asli.png'%}" alt="">
        </div>
        <div class="header-left">
            <img src="{% static 'img/user_person_profile_avatar_icon_190943.png'%}" alt="">
            <img src="{% static 'img/shoppingbasket3_114870.png'%}" alt="">
        </div>
        <!-- <img style="width: 11%; display: none;"  class="img-mnu" src="{% static 'img/icon-menubar.ico" alt=""> -->
        <div class="search">
            <img src="{% static 'img/search.png'%}">
            <input type="text" name="search" class="inp-search" placeholder="محصول دلخواهتان را جستجو کنید ...">
        </div>
    </div>
{% endblock %}


{% block content %}
<br/>
<br/>
<br/>
<br/>
        <!-- Header-->
        <header class=" text-white" style="height: 25rem;padding-top: 8rem;background-color: #ffa11e;margin: 0 10%;border-radius: 10px">
            <div class="container px-4 text-center">
                <h1 class="fw-bolder">به وبسایت فروشگاهی یزد غرفه خوش آمدید ..</h1>
                <p class="lead">یک وبسایت خرید فروش صنایع دستی برای تولیدکنندگان ...</p>
                <a class="btn btn-lg btn-light" href="{% url 'Home' %}">خرید محصول</a>
            </div>
        </header>
<br/>
<br/>

        <!-- About section-->
        <section id="about">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="sub-Title" style="margin: 20px 20px;">درباره سازه کار مجموعه ما :</h2>
                        <br/>
                        <p class="lead">خب تولید کنندگان صنایع دستی میتوانند در این وبسایت غرفه خود را تولید کنند و محصولات خود را به فروش بگذارند و اینکه طرفداران صنایع دستی هم میتوانند در این وبسایت به خرید محصول مورد علاقه خود بپردازند ...</p>
                        <br/>
                        <h2 class="sub-Title" style="margin: 20px 20px;">فواید کار با یزد غرفه :</h2>
                        <ul style="width: 70%;margin: 2rem auto;">
                            <li>کسر کمترین درصد سود از فروشندگان</li>
                            <li>کمک در خرید سرمایه اولیه برای غرفه داران بالای یک سال سابقه</li>
                            <li>ارسال رایگان برای خرید اول و خرید های بالای ۳۰۰ هزار تومان</li>
                            <li>امکان خرید حضوری از غرفه داران</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

<br/>
<br/>
<br/>
<br/>
{% endblock %}


{% block js %}
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}