{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load custom_filters %}


{% block content %}


            <div class="Mahsolat">
            {% for item in Products %}
         <div class="Mahsol Mahsolat-Page product" data-id="{{ item.id }}" data-price="{{ item.price }}" data-discount="{{ item.Discountـpercentage }}">
                <div class="Layer">
                    <h6>{{ item.name }}</h6>
                    {% if item.is_sale %}
                    <h2 style="text-decoration: line-through">{{ item.price|intcomma }}</h2>
                        <h2><span class="Pardakht"></span> تومان</h2>
                    {% else %}
                        <h4>{{ item.price|intcomma }}</h4>
                    {% endif %}
                    <a href="/product/{{ item.id }}" class="btn product-btn"
                        style="margin: 0; width: 10% ; background-color: #2EC4B6 !important; ">ادامه مطلب</a>
                </div>
                <img src="{{ item|get_product_image:image_Product }}" class="test" alt="image-product">
            </div>
            {% endfor %}
            </div>





{% endblock %}












{% block js %}

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script>

    $('.product').each(function () {
        // دریافت مقادیر از تگ HTML
        var Gheimat = parseFloat($(this).data('price'));
        var sale = parseFloat($(this).data('discount')) / 100;

        // محاسبه مقدار پرداخت
        var pardakht = (Gheimat - (Gheimat * sale));


        // نمایش مقدار پرداخت
        var pardakht2 = pardakht.toLocaleString();
        $(this).find('.Pardakht').html(pardakht2);

    });
</script>

{% endblock %}