{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load custom_filters %}




{% block content %}
    {% for item in Booth %}
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6">
                        <img class="card-img-top mb-5 mb-md-0" src="{{ item.id|get_booth_image:image_Booth }}" alt="..." />
                    </div>
                    <div class="col-md-6">
                        <div class="small mb-1"></div>
                        <h1 class="display-5 fw-bolder">{{ item.name }}</h1>
                        <div class="fs-5 mb-5">


                <i class='bx bxs-like like-icon' data-id="{{ booth.id }}"></i>
                <span class="number-heart">{{ item.likes.count }}</span>

                        </div>
                        <p class="lead">
                            {{ item.description }}
                        </p>

                    </div>
                </div>
            </div>
        </section>
        {% endfor %}

        <!-- Related items section-->
        <section class="py-5 bg-light">
            <h1 class="sub-Title">محصولات این غرفه ...</h1>

            <div class="Mahsolat">
                    {% for prd in Products %}

                   <div class="Mahsol Mahsolat-Page product" data-id="{{ prd.id }}" data-price="{{ prd.price }}" data-discount="{{ prd.Discountـpercentage }}">
                <div class="Layer">
                    <h6>{{ prd.name }}</h6>
                    {% if prd.is_sale %}
                    <h2 style="text-decoration: line-through">{{ prd.price|intcomma }}</h2>
                        <h2><span class="Pardakht"></span> تومان</h2>
                    {% else %}
                        <h4>{{ prd.price|intcomma }}</h4>
                    {% endif %}
                    <a href="/product/{{ item.id }}" class="btn product-btn"
                        style="margin: 0; width: 10% ; background-color: #2EC4B6 !important; ">ادامه مطلب</a>
                </div>
                <img src="{{ prd|get_product_image:image_Product }}" class="test" alt="image-product">
            </div>
                        {% endfor %}

            </div>
{% endblock %}


{% block js %}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
<script>

    $('.product').each(function () {
        // دریافت مقادیر از تگ HTML
        var Gheimat = parseFloat($(this).data('price'));
        var sale = parseFloat($(this).data('discount')) / 100;

        // محاسبه مقدار پرداخت
        var pardakht = (Gheimat - (Gheimat * sale));


        // نمایش مقدار پرداخت
        var pardakht2 = pardakht.toLocaleString();
        $(this).find('.Pardakht').html(pardakht2);

    });

        // در ابتدا چک میکنیم که آیا قبلاً غرفه رو لایک کرده یا نه
    var isLiked = false; // فرض میکنیم ابتدا غرفه لایک نشده
    $(document).ready(function() {
        // اینجا کد چک کردن وضعیت لایک قبلی رو قرار میدیم
        // مثلا میتونیم با یک ajax درخواست وضعیت لایک قبلی رو بگیریم
        var userId = '{{ user }}';

        // چک کردن غرفه‌ها آیا قبلاً لایک شده‌اند یا خیر
        $.ajax({
            type: 'GET',
            url: "{% url 'Check_Like' %}", // فرض می‌کنیم نام URL این است و آرایه‌ای از lkedBooths را برمی‌گرداند
            data: {
                user: userId,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(response) {
                response.likedBooths.forEach(function(boothId) {
                    // به هر آیکون با data-id مربوطه رنگ قرمز دادیم
                    $('.like-icon[data-id="' + boothId + '"]').css('color', 'red');
                });
            }
        });

        $('.like-icon').click(function() {
            var boothId = parseInt($(this).data('id'));
            var userId = '{{ user }}';

            $.ajax({
                type: 'POST',
                url: "{% url 'Like_Booth' %}",
                data: {
                    user: userId,
                    booth: boothId,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'post'
                },
                success: function(json) {
                    location.reload();
                },
                error: function(err, errmsg, xhr) {
                    console.log(err);
                }
            });

            isLiked = !isLiked; // تغییر وضعیت لایک

            if (isLiked) {
                $(this).css('color', 'red');
            } else {
                $(this).css('color', 'black');
            }
        });
    });

</script>


{% endblock %}
