{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block header %}
        <div class="header text-white" style="background-color: #2EC4B6; padding: 10px 5px; height: 7rem;">
      <i class='bx bx-menu'></i>

      <div class="header-right">
            <img src="{% static 'img/logo-asli.png'%}" alt="">
        </div>
        <div class="header-left">
            <img src="{% static 'img/user_person_profile_avatar_icon_190943.png'%}" alt="">
            <img src="{% static 'img/shoppingbasket3_114870.png'%}" alt="">
        </div>
        <!-- <img style="width: 11%; display: none;"  class="img-mnu" src="{% static 'img/icon-menubar.ico" alt=""> -->
        <div class="search">
            <img src="{% static 'img/search.png'%}">
            <input type="text" name="search" class="inp-search" placeholder="محصول دلخواهتان را جستجو کنید ...">
        </div>
    </div>
{% endblock %}


{% block content %}

    <div class="mt-2 p-5 text-white" style='background-color: #FFBF69 !important;'>
        <h1 class="close-tabliq">&times;</h1>
        <h2 class="WellCome1">سلام به یزد غرفه خوش آمدید</h2>
        <h2 class="WellCome2">اینجا بهترین مکان برای افتتاح غرفه شما میباشد
            ...</h2>
        <br />
        <br />
        <br />
        <h2 class="sabt-booth"><a href="/" class="btn"
                style="background-color: #2EC4B6; float: left; padding: 5px 20px; color: #ffffff;">ثبت غرفه</a></h2>
    </div>



    <div class="Cards row">
          {% for item in Product %}
            <div class="card col-md-2 mahsol" >
                <img class="card-img-top" src="{{ item.image.url }}" alt="Card image">
                <div class="card-body">
                    {% if item.is_sale %}
                    <span class="card-title" style="text-decoration: line-through;">{{ item.price|intcomma }}</span>
                  <h4 class="card-title">{{ item.sale_price|intcomma }}</h4>
                    {% else %}
                    <h4 class="card-title">{{ item.price|intcomma }}</h4>
                    {% endif %}
                    <div style="float: left;">
                        <a href="#" class="btn btn-primary float-end" style="background-color: #FF9F1C; color: #000; font-weight: bold;">اطلاعات بیشتر</a>                    </div>
                </div>
              </div>
             {% endfor %}

        </div>



    <h2 class="sub-Title">غرفه های پر بازدید :</h2>


    <div class="Cards row">
        {% for item in Booth %}
          <div class="card Booth">
            <div class="img">          <img class="card-img-top" src="{{ item.image.url }}" alt="Card image">
              <img class="card-img-top" src="{{ item.image.url }}" alt="Card image">
              <img class="card-img-top" src="{{ item.image.url }}" alt="Card image">
             </div>
            <div class="card-body">
              <a class="Booth-Titr">{{ item.name }}</a>
              <h4 class="Booth-p">{{ item.description }}</h4>
<!--                <img id="Booth-heart" src="{% static 'img/like.png'%}" alt="">-->
                <i class='bx bxs-like like-icon'></i>
                <span class="number-heart">{{ item.likes }}</span>
              </div>
            </div>
        {% endfor %}

            </div>

    <div class="Category">
      <h2 class="sub-Title">
        دسته بندی محصولات :
      </h2>
    <div class="Cards row">

        {% for item in category %}
      <div class="card col-md-2 Category" >
          <img class="card-img-top" src="{{ item.image.url }}" alt="Card image">
          <div class="card-body" style="text-align: center;">
            <a href="#" class="Onvan-Category">{{ item.name }}</a>
          </div>
        </div>
        {% endfor %}
    </div>
    </div>




    <div class="Poshtiban">
      <div class="posh-right">
        <h1>هنوز برای افتتاح غرفه ات نگرانی ؟</h1>
        <h2>با پشتیبانی تماس بگیر و مشکلاتت را بگو</h2>
        <h3>راستی پول اولین مشاوره ات هم با من</h3>
      </div>
      <div class="posh-left">
        <h1>09120020202</h2>
          <div class="left-img">
            <img src="{% static 'img/download.png'%}" alt="">

          </div>
        <h2>پشتیبانی یزد غرفه</h2>
      </div>
    </div>
    {% endblock %}
{% block js %}
    <script src="{% static 'js/jquery.js' %}"></script>
<script>
    $('.like-icon').click(function (){
        $(this).css({
            color:'red'
        })

    })
</script>
{% endblock %}
