{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load custom_filters %}

{% block header %}
        <div class="header text-white" style="background-color: #2EC4B6; padding: 10px 5px; height: 7rem;">
      <i class='bx bx-menu'></i>
      <div class="header-right">
            <img src="{% static 'img/logo-asli.png'%}" alt="">
        </div>
        <div class="header-left">
            <a href="{% url 'Customer_UserPanel' %}"><img src="{% static 'img/user_person_profile_avatar_icon_190943.png'%}" style="cursor: pointer"  alt=""></a>
            <a href="{% url 'Cart_Summary' %}"><img src="{% static 'img/shoppingbasket3_114870.png'%}" alt="">
                                <span class="Circle" style="background-color: #ffffff ; margin-top: 0.5rem ; text-align: center ; padding: 5px auto">{{ cart|length }}</span>
</a>
        </div>
        <!-- <img style="width: 11%; display: none;"  class="img-mnu" src="{% static 'img/icon-menubar.ico" alt=""> -->
        <div class="search">
             <form action="{% url 'Search' %}" method="POST" style="height: 100%">
                 {% csrf_token %}
                 <button style="width: 60px;background-color: #ffffff;border-radius: 5px 0 0px 5px;float: left;cursor: pointer;border: 0;"><img src="{% static 'img/search.png'%}" ></button>
                    <input type="text" name="search" class="inp-search" placeholder="محصول دلخواهتان را جستجو کنید ...">
                 </form>
        </div>
    </div>
{% endblock %}


{% block content %}

{% if search %}

<div class="Mahsolat">
    {% for item in search %}
    <div class="Mahsol Mahsolat-Page">
        <div class="Layer">
            <h6>{{ item.name }}</h6>
            {% if item.is_sale %}
            <h2 style="text-decoration: line-through">{{ item.price|intcomma }}</h2>
                <h2><span class="Pardakht"></span> تومان</h2>
            {% else %}

            {% endif %}
            <a href="/product/{{ item.id }}" class="btn product-btn"
                style="margin: 0; width: 10% ; background-color: #2EC4B6 !important; ">ادامه مطلب</a>
        </div>
        <img src="{{ item.image.url }}" alt="image-product">
    </div>
    {% endfor %}
</div>

{% else %}


    <div class="mt-2 p-5 text-white tabliq" style='background-color: #FFBF69 !important;'>
        <h1 class="close-tabliq">&times;</h1>
        <h2 class="WellCome1">سلام به یزد غرفه خوش آمدید</h2>
        <h2 class="WellCome2">اینجا بهترین مکان برای افتتاح غرفه شما میباشد
            ...</h2>
        <br />
        <br />
        <br />
        <h2 class="sabt-booth"><a href="{% url 'Create_Booth' %}" class="btn"
                style="background-color: #2EC4B6; float: left; padding: 5px 20px; color: #ffffff;">ثبت غرفه</a></h2>
    </div>


    <h1 class="sub-Title">محصولاتی که اخیرا اضافه شده اند ..</h1>
    <div class="Cards row">
          {% for item in Product %}
            <div class="card col-md-2 mahsol" >
                {% with item.images.first as image %}  <!-- فرض بر این است که هر محصول دارای یک رابطه به تصاویر است -->
                    {% if image %}
                            <img class="card-img-top" src="{{ image.image.url }}" alt="Card image">
                    {% else %}
                            <img class="card-img-top" src="default-image-url.jpg" alt="Default image">  <!-- تصویر پیش‌فرض در صورت عدم وجود تصویر -->
                    {% endif %}
                {% endwith %}
<!--                {% for image in image_Product %}-->
<!--                    <img class="card-img-top" src="{{ image.image.url }}" alt="Card image">-->
<!--                {% endfor %}-->
                <div class="card-body">
                    {% if item.is_sale %}
                    <span class="card-title" style="text-decoration: line-through;">{{ item.price|intcomma }}</span>
                  <h4 class="card-title">{{ item.sale_price|intcomma }}</h4>
                    {% else %}
                    <h4 class="card-title">{{ item.price|intcomma }}</h4>
                    {% endif %}
                    <div style="float: left;">
                        <a href="/product/{{ item.id }}" class="btn btn-primary float-end" style="background-color: #FF9F1C; color: #000; font-weight: bold;">اطلاعات بیشتر</a>                    </div>
                </div>
              </div>
             {% endfor %}

        </div>



    <h2 class="sub-Title">غرفه های پر بازدید :</h2>

    <div class="Cards row">
        {% for item in Booth %}
          <div class="card Booth">
            <div class="img">


                {% for img in image_booth %}
                    {% if img.booth.id == item.id %}
                        <img class="card-img-top" src="{{ img.image.url }}" alt="Card image">
                    {% endif %}
                {% endfor %}


             </div>
            <div class="card-body">
              <a class="Booth-Titr">{{ item.name }}</a>
              <h4 class="Booth-p">{{ item.description }}</h4>
<!--                <img id="Booth-heart" src="{% static 'img/like.png'%}" alt="">-->
<!--                <a href="{% url 'Like_Booth' %}" ><i class='bx bxs-like like-icon' data-id="{{ item.id }}"></i></a>-->
                <i class='bx bxs-like like-icon' data-id="{{ item.id }}"></i>
                <span class="number-heart">{{ item.likes.count }}</span>
              </div>
            </div>
        {% endfor %}

            </div>

    <div class="Category">
      <h2 class="sub-Title">
        دسته بندی محصولات :
      </h2>
    <div class="Cards row">

        {% for item in category %}
      <div class="card col-md-2 Category" >
          <img class="card-img-top" src="{{ item.image.url }}" alt="Card image">
          <div class="card-body" style="text-align: center;">
            <a href="category/{{ item.name|replace:' ,-' }}  " class="Onvan-Category">{{ item.name }}</a>
          </div>
        </div>
        {% endfor %}
    </div>
    </div>

    <div class="Poshtiban">
      <div class="posh-right">
        <h1>هنوز برای افتتاح غرفه ات نگرانی ؟</h1>
        <h2>با پشتیبانی تماس بگیر و مشکلاتت را بگو</h2>
        <h3>راستی پول اولین مشاوره ات هم با من</h3>
      </div>
      <div class="posh-left">
        <h1>09120020202</h2>
          <div class="left-img">
            <img src="{% static 'img/download.png'%}" alt="">

          </div>
        <h2>پشتیبانی یزد غرفه</h2>
      </div>
    </div>
{% endif %}
      {% endblock %}
{% block js %}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
<script>
    // در ابتدا چک میکنیم که آیا قبلاً غرفه رو لایک کرده یا نه
var isLiked = false; // فرض میکنیم ابتدا غرفه لایک نشده
$(document).ready(function() {
    // اینجا کد چک کردن وضعیت لایک قبلی رو قرار میدیم
    // مثلا میتونیم با یک ajax درخواست وضعیت لایک قبلی رو بگیریم
    var userId = '{{ user }}';

    // چک کردن غرفه‌ها آیا قبلاً لایک شده‌اند یا خیر
    $.ajax({
        type: 'GET',
        url: "{% url 'Check_Like' %}", // فرض می‌کنیم نام URL این است و آرایه‌ای از lkedBooths را برمی‌گرداند
        data: {
            user: userId,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function(response) {
            response.likedBooths.forEach(function(boothId) {
                // به هر آیکون با data-id مربوطه رنگ قرمز دادیم
                $('.like-icon[data-id="' + boothId + '"]').css('color', 'red');
            });
        }
    });

    $('.like-icon').click(function() {
        var boothId = parseInt($(this).data('id'));
        var userId = '{{ user }}';

        $.ajax({
            type: 'POST',
            url: "{% url 'Like_Booth' %}",
            data: {
                user: userId,
                booth: boothId,
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
            success: function(json) {
                location.reload();
            },
            error: function(err, errmsg, xhr) {
                console.log(err);
            }
        });

        isLiked = !isLiked; // تغییر وضعیت لایک

        if (isLiked) {
            $(this).css('color', 'red');
        } else {
            $(this).css('color', 'black');
        }
    });
});
</script>
{% endblock %}
