{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="Register">

            <div class="Register-left">
                <form method="POST" action="{% url 'Update_User' %}">
                    {% csrf_token %}

                <div class="inputs">
                    {% for item in user_form %}
                        {{ item }}
                    {% endfor %}

                </div>

                <button type="submit">ویرایش حساب کاربری</button>
              </form>
            </div>
        <div class="Register-right">
            <div class="Register-Information">
                <i class='bx bxs-square'></i>
                <p>لطفا نام و نام خانوادگی خود را به فارسی وارد کنید.</p>
                <i class='bx bxs-square'></i>
                <p>حداقل رمز عبور ۸ کارکتر باشد .</p>
                <i class='bx bxs-square'></i>
                <p>رمز عبور باید شامل حروف بزرگ و کوچک باشد .</p>
                <i class='bx bxs-square'></i>
                <p>رمز عبور باید شامل اعداد باشد .</p>
                                <button style="width: 60%;height: 10%;background-color: #FF9F1C;margin: 6rem 20%;
                                border: none;border-radius: 5px;font-size: 20px;font-weight: bold;padding: 10px;"><a href="{% url 'Update_Password' %}" style="color: black"> ویرایش رمز عبور</a></button>

            </div>
        </div>
    </div>



{% endblock %}


{% block js %}
{% endblock %}