{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load custom_filters %}

{% block content %}

<div class="Shipping-Cart" style="float: right ;width: 60%;display: inline-block">
        <h2 class="sub-Title" style="text-align: center;margin-top: 4rem;">اطلاعات حمل و نقل</h2>

                    <hr/>
        <div class="Register" style="height: 40rem; width: 80%;margin: 0 auto;">
            <div class="Register-left" style="width: 100%;">
                <div class="inputs" style="height: auto; margin: 1rem auto;" >

                    <input type="text" value="{{ shipping_info.shipping_full_name }}">
                    <input type="text" value="{{ shipping_info.shipping_email }}" >
                    <input type="text" value="{{ shipping_info.shipping_address1 }}" >
                    <input type="text" value="{{ shipping_info.shipping_address2 }}" >
                    <input type="text" value="{{ shipping_info.shipping_city }}" >
                    <input type="text" value="{{ shipping_info.shipping_country }}" >
                    <input type="text" value="{{ shipping_info.shipping_zipcode }}" >


                </div>
            </div>
            </div>
            <h2 class="sub-Title" style="text-align: center;margin-top: 4rem;">اطلاعات پرداخت</h2>

                    <hr/>
    <div class="Register" style="height: 50rem; width: 80%;margin: 0 auto;">
            <div class="Register-left" style="width: 100%;">
                <form action="{% url 'Process_Order' %}" method="POST">
                    {% csrf_token %}
                        <div class="inputs" style="height: auto; margin: 1rem auto;" >

                            {% for item in billing_form %}
                                {{ item }}
                            {% endfor %}

                        </div>

                        <button style="margin: 1rem 10%;width: 80%;height: 7%;">برو به صفحه پرداخت</button>

                    </form>
            </div>

    </div>
    </div>

        <div class="SideBar" style="float: left;margin-top: 10rem;">

            <h2>بخش پرداخت و ادامه روند خرید :</h2>
            <hr style="opacity: 1;"/>
            <h2>محصولات انتخابی شما :</h2>
            <div class="images-Shipping">
                {% for item in products %}
                   <div class="Mahsol Mahsolat-Page">
                        <div class="Layer product" id="layer-checkout" data-id="{{ item.id }}" data-price ='{{ item.price }}' data-discount="{{ item.Discountـpercentage }}">
                            {% for key , value in  quants.items %}
                                {% if key == item.id|slugify %}
                                    <a href="{% url 'Cart_Summary' %}" id="a-quantity" class="Quantity-Number qty">{{ value }}</a>
                                {% endif %}
                            {% endfor %}
                         </div>
                <img src="{{ item|get_product_image:image_Product }}" style=" width: 35%;" alt="image-product">
    </div>
                {% endfor %}

            </div>
            <hr style="opacity: 1;"/>
            <h4> کل‌ :</h4>
                <h5><span class="total">{{ total|intcomma }}</span> تومان</h5>
            <h4>سود شما :</h4><h5><span class="sood"></span> تومان</h5>
            <hr/>
            <h4>مبلغ قابل پرداخت :</h4><h5><span class="Col-Pardakht"></span> تومان</h5>


        </div>

{% endblock %}





{% block js %}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}