@font-face{
    font-family: 'vazir';
    src: url('../font/vazir-font-v16.1.0/Vazir-Thin.eot') format('eot'),
    url('../font/vazir-font-v16.1.0/Vazir.ttf') format('ttf'),
    url('../font/vazir-font-v16.1.0/Vazir.woff') format('woff'),
    url('../font/vazir-font-v16.1.0/Vazir.woff2') format('woff2');
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'vazir' , sans-serif;

}


/*------------------------------------- کامپیوتر -----------------------------------------*/

.header i{
    display: none;
}

.header-right{
    width: 17rem;
    height: 4rem;
    overflow: hidden;
    border: 1px solid black;
    float: right;
    border-radius: 5px;
    margin: 1% 2% ;
}

.header-right img{
    width: 100%;
    height: 100%;
}

.search{
    width: 40%;
    height: 4rem;
    margin: 1% 30% 0 0;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 5px 5px 5px 5px;
}

.search .inp-search{
    width: 80%;
    height: 100%;
    border-radius: 0px 5px 5px 0;
    outline: none;
    border: none;
    text-align: center;
    font-size: 20px;
    font-family: 'vazir' , sans-serif;
    font-weight: 400;
}

.search img{
    width: 60px;
    background-color: #ffffff ;
    border-radius: 5px 0 0px 5px;
    float: left;
    cursor: pointer;
}

.header-left{
    width: 120px;
    float: left;
    overflow: hidden;
    margin-top: 20px;
}

.header-left img{
    width: 40%;
    float: left;
    margin-left: 10px;
}

.Cards{
    margin-top: 10px ;
    padding: 10px;
}

.card{
    width: 25% !important;
    height: auto !important;
    margin-right: 2rem !important;
    box-shadow: 0px 2px 4px #00000082;
}

.card-img-top{
    margin: 15px 2.5rem !important;
    width: 70% !important;
}

.card h4{
    font-weight: bold;
}

.Cards.row{
    --bs-gutter-x: -3rem ; 
    flex-wrap: nowrap ;
    overflow: hidden ;
    overflow-x: scroll ;

}

.Cards::-webkit-scrollbar{
    width: 2px;
    background-color: none;
}


.close-tabliq{
    color: red;
    cursor: pointer; 
    margin-right: 5rem;
}

.WellCome1{
    color:#000; 
    margin-right: 15rem;
}

.WellCome2{
    float: left; 
    color: #000;
    margin-left: 10rem;
}

.sub-Title{
    color: #FF9F1C;
    font-weight: bold;
    font-size: 40px;
    margin:20px 30px ;
}

.Booth{
    width: 28rem !important;
    height: 21rem !important;
    margin: 10px 2rem !important;
}

.Booth .img{
    width: 100%;
    background-color: red;
    padding: 10px;
    height: 45%;

}

.Booth .img img{
    width: 20% !important;
    height: auto !important;
    margin: 5px 30px 16px 5px !important;
}



.Booth-Titr{
    text-shadow: 1px 1px 1px red;
    margin: 0px 5% 0 0;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 800;
}

.Booth-p{
    font-size: 15px;
    font-weight: 400;
    margin: 15px 50px 30px 30px;
}


#Booth-heart{
    width: 12% ;
    height: auto ;
    float: left;
    margin: -100px 30px;
}



.number-heart{
    font-size: 30px;
    float: left;
    margin: -20px 0 10px 7%;
    font-weight: bold;
}

.Onvan-Category{
    text-decoration: none;
    color: #000;
    font-weight: bold; 
    cursor: pointer;
    font-size: 23px;
}

.Onvan-Category:hover{
    color: #FF9F1C;
    transition: all 0.5s ease; 
}

.Category img{
    width: 50% ;
    padding: 5px;
    margin-right: 100px ;
}


.Poshtiban{
    margin: 15px 62px 15px 23px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px #00000082;
    border-radius: 5px;
    height: 45rem;
}

.posh-right {
    float: right;
    width: 34rem;
    height: 43rem;
}


.posh-right h1{
    font-size: 26px;
    font-weight: 700;
    margin: 7rem 2rem 10px 0;
}
.posh-right h2{
    font-size: 22px;
    font-weight: 700;
    margin: 7rem 7rem 10px 0;
}
.posh-right h3{
    font-weight: 700;
    font-size: 20px;
    margin: 7rem 14rem 10px 0;
}


.posh-left{
    float: left;
    width: 22rem ;
    margin: 0 0 0% 0%;
    overflow: hidden;
    height: 43rem;
}


.posh-left h1{
    font-size: 2rem;
    font-weight: bold;
    margin: 25px 0 4rem 7rem;
    text-shadow: 1px 1px 1px black;
    float: left;
    color: #FF9F1C;
}
.posh-left h2{
    font-size: 2rem;
    font-weight: bold;
    margin: 4rem 0 5px 6rem;
    float: left;
}
.posh-left img{
    width: 19rem ;
}


.left-img{
    width: 20rem;
}


.Footer{
    background-color: #2EC4B6;
    width: 100%;
    height: 40rem;
    border-radius: 0 100px 0 0;
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
}

.Foot-About {
    width: 40rem;
    height: 0rem;
    padding: 30px;
}

.Foot-Titr {
    color: #ffffff;
    text-align: center;
    margin: 0 0 40px 3rem;
    font-size: 30px;
    font-weight: 800;
}


.About{
    background-color: #CBF3F0;
    height: 24rem;
    border-radius: 10px;
    padding: 30px;
    text-align: justify;
    letter-spacing: 0px;
    box-shadow: 1px 2px 20px 0px #bb8585;
}

.About h2{
    line-height: 2.5; 
    font-size: 17px;
}


.Foot-RealtionShip{
    width: 45rem;
    height: 30rem;
    border-radius: 10px;
    padding-top: 30px;
    text-align: justify;
    float: left;
        margin-right: 50px;
}


.RelationShip{
    height: auto;
    border-radius: 10px;
    padding: 30px;
    line-height: 3;
    text-align: center;
}


.RelationShip .images img{
    width: 2.5rem;
    margin: 0 3%;
    border-radius: 5px;
    box-shadow: 0px 2px 4px #00000082;

}

.RelationShip .images img:hover{
    animation: SlideTop 1.5s ease;
}


.RelationShip .Foot-Address{
    width: 100%;
    height: 100px;
    margin-top: 50px;
}


.RelationShip .Foot-Address .Onvan{
    font-size: 20px;
    font-weight: bold;
    float: right;
}
.RelationShip .Foot-Address .Address{
    font-size: 15px;
    font-weight: 300;
    float: right;
    margin-right: 30px;
}
.RelationShip .Foot-Phone{
    width: 19rem;
    height: 50px;
}
.RelationShip .Foot-Phone img{
    width: 3rem;
    float: left;

}



.Phone{
    display: flex;

}
.RelationShip .Foot-Phone h2{
    font-size: 28px ;
    font-weight: 700 ;
    margin: 17px 10px ;
}

.Foot-Access{
    height: 22rem ;
    border-radius: 10px ;
    padding-top: 30px ;
    text-align: justify ;
    width: 51% ;
}

.Access{
    height: 28rem ;
    border-radius: 10px; 
    text-align: justify ;
    line-height: 3 ;
    text-align: center ;
    width: 94% ;
}

.Foot-Access .Foot-Titr{
    color: #ffffff;
    text-align: center;
    margin: 0 0 40px 3rem;
    font-size: 30px;
    font-weight: 800;
}


.Access ul li{
    display: block ;
}

.Access ul li a{
    text-decoration: none ;
    font-size: 20px ;
    color: black ;
    margin-right:10px  ;
    font-weight: 500 ;
}

@keyframes SlideTop {
    0%{
        transform: translateY(0px)  ;
        box-shadow: 0px 2px 4px #ffffff  ;

    }
    100%{
        box-shadow: 0px 4px 4px #ffffff ;
        transform: translateY(-20px)  ;
    }
}



/* -------------------------------------------------- Register Page --------------------------------------------------- */




.WellCome{
    width: 40rem;
    height: 8rem;
    margin: 4rem 15rem 0 0;
    background-color: #FF9F1C;
    border-radius: 20px 0 20px 0;
}

.WellCome h2{
    font-size: 28px;
    font-weight: bold;
    padding: 3rem 9rem;
}


.Register{
    width: 80%;
    height: 40rem;
    background-color:#ffffff;
    margin: 20px 6rem;
    box-shadow: 0px 0px 4px black;
    border-radius: 10px;
}

.Register-right{
    float: right;
    width: 40%;
    height: 100%;
    border-radius:0px 10px 10px 0px ;
}

.Register-right .Register-Information i{
    font-size: 30px;
    color: #FF9F1C;
    margin: 60px 15px 5px 0px;
}

.Register .Register-Information p{
    font-size: 14px;
    font-weight: 600;
    margin-right: 10px;
    margin: -30px 60px 0 0;
}


.Register .Register-Information .login span{
    font-size: 20px;
    font-weight: 600;
    margin:0 10px 0 0;
    color: #000000;
}

.Register .Register-Information a{
    font-size: 20px;
    font-weight: 600;
    margin-right: 10px;
    color: #FF9F1C;
    text-decoration: none;
}


.Register .Register-Information .login{
    margin:6rem 4rem;
}


.Register-left{
    float: left;
    background-color: #cbf3f0;
    width: 60%;
    height: 100%;
    border-radius: 10px 0 0px 10px;
}

.Register-left .inputs{
    width: 80%;
    margin: 5px 3.5rem 0 0;
    padding: 10px;
    height: 30rem;
}

.Register-left .inputs input{
    width: 90%;
    height: 40px;
    margin: 10px 20px 30px 0;
    text-align: right;
    font-size: 20px;
    outline: none;
    background: none;
    border: none;
    border-bottom: 2px #1108085e solid;
    font-weight: bold;

}

.Register-left button{
    width: 80%;
    height: 10%;
    background-color: #FF9F1C;
    margin: 0 4rem;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}




@media only screen and (max-width:600px) {
    .WellCome{
        width: 70%;
        height: 4rem;
        margin: 20px 10px 0 0;
        background-color: #FF9F1C;
        border-radius: 20px 0 20px 0;
    }

    .WellCome h2{
        font-size: 13px;
        font-weight: bold;
        padding: 25px 50px;
    }

    .Register{
        width: 90%;
        height: 40rem;
        background-color: #ffffff;
        margin: 20px 2rem !important;
        box-shadow: 0px 0px 4px black;
        border-radius: 10px;
    }

    .Register-left{
        float: left;
        background-color: #cbf3f0;
        width: 100%;
        height: 100%;
        border-radius: 10px 10px 10px 10px;
    }
    .Register-left .inputs{
        width: 80%;
        margin: 5px 1.5rem 0 0;
        padding: 10px;
        height: 30rem;
    }
    .Register-left button{
        margin: 0 2rem;
    }

    .Register-right{
        float: right;
        width: 91%;
        height: 100%;
        border-radius: 0px 10px 10px 0px;
    }

    .Register-right .Register-Information i{
        font-size: 30px;
        color: #FF9F1C;
        margin: 40px 15px 5px 0px;
    }
    .Register-right .Register-Information p{
        font-size: 12px;
    }

    .Register .Register-Information .login{
        margin: 5rem 22px;
    }
}



@media only screen and (max-width:768px) {
    .WellCome{
        width: 30rem;
        height: 6rem;
        margin: 3rem 1rem 0 0;
        background-color: #FF9F1C;
        border-radius: 20px 0 20px 0;
    }
    .WellCome h2{
        font-size: 23px;
        font-weight: bold;
        padding: 2.5rem 6rem;    
    }

    .Register{
        margin: 20px 4rem;
    }

    .Register-left .inputs{
        width: 80%;
        margin: 5px 2rem 0 0;
        padding: 10px;
        height: 30rem;
    }
    .Register-left button{
        margin: 0px 2rem;
    }

    .Register-right .Register-Information p{
        font-size: 12px;
        font-weight: 600;
        margin-right: 10px;
        margin: -30px 60px 0 0;
    }

    .Register-right .Register-Information .login{
        margin: 6rem 2rem;
    }
    .Register-right .Register-Information .login a{
        font-size: 12px;
    }
    .Register-right .Register-Information .login span{
        font-size: 12px;
    }
}


@media only screen and (min-width:1440px){
    .Register{
        width: 55%;
        margin-right: 25rem;
    }
}